:root{
    --Pink: hsl(322, 100%, 66%);
    --VeryDarkCyan: hsl(192, 100%, 9%);
    --VeryPaleBlue: hsl(207, 100%, 98%);
    --FontHeader:font-family: 'Poppins', sans-serif;
}
body{
    width: 100vw;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    margin: 0;
    font-size: 1rem;
    color:var(--VeryDarkCyan);
   background-color:white;
    box-sizing: border-box;
}
/*estilos de navegacion*/
nav{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 1em;
}
nav img{
    height: 1.2em;
}
/*estilos del hero*/
.hero{
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 4em 2em;
}
.hero p{
    margin: 2em 0;
    
}

.hero h1{
    font-family: var(--FontHeader);
    text-transform: capitalize;
    font-size: 1.8em;
}
.hero img{
    width: 100%; 
    margin-top: 6em;
}
/*estilos de seccion logros*/
.awards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.award{
    min-width: 310px;
    max-width: 360px;
    width: 50vw;
    display: grid;
    grid-template-rows: repeat(3,auto);
    grid-template-areas:
    'img'
    'number'
    'description'
    ;
    justify-items: flex-start;
    margin: 1em 0;
    padding: 2.1em;
    box-sizing: border-box;
}
.award img{
    height: 2em;
    grid-area: img;
    justify-self: flex-start;
}
.award h2{
    grid-area: number;
    font-size: 5em;
    margin: .1em;
}
.award p{
    grid-area: description;
    margin: 0;
    justify-self: center;
    color: gray;
    font-size: 1.3em;
}
/*estilos seccion reasos*/
.reasons {
    box-sizing: border-box;
    width: 100vw;
    text-align: center;
    
}
.reason{
    
    display: grid;
    grid-row: repeat(3,auto);
}
.reason .wave{
    height: calc(100vw / 3);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.reason .up{
    grid-row: 1/2;
}
.reason .explain{
    grid-row: 2/3;
    width: 100%;
    padding:  0 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box; 
}
.reason:nth-child(odd) .explain{
    background-color: var(--VeryPaleBlue);
}
.reason> .explain>img{
    width: 100%;
}
.reason .down{
    grid-row: 3/4;
}

.reason:nth-child(1) .up{
    background-image: url('./images/bg-section-top-mobile-1.svg');  
    background-position-y:bottom; 
}
.reason:nth-child(1) .down{
    background-image: url('./images/bg-section-bottom-mobile-1.svg');
    background-position-y:top;
} 
.reason:nth-child(3) .up{
    background-image: url('./images/bg-section-top-mobile-2.svg');  
    background-position-y:bottom; 
}
.reason:nth-child(3) .down{
    background-image: url('./images/bg-section-bottom-mobile-2.svg');
    background-position-y:top;
} 
/*Estilos de seccion ready to build*/
.readyToBuild{
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 1em;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 10em;
}
.readyToBuild h2{
    text-align: center;
}
/*estilos footer*/
footer{
    width: 100vw;
    display: flex;
    flex-direction:column;
}
.waveFooter{
    height: calc(100vw / 7);
    background-image: url('./images/bg-footer-top-mobile.svg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    transform: translateY(1px);
}

.footerInfo{
    background-color: var(--VeryDarkCyan);
    color: aliceblue;
    box-sizing: border-box;
    padding:1em;
    display: flex;
    flex-direction: column-reverse;
}

.footerInfo .subscription{
    padding:1em 3em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.subscription h3{
    text-transform: uppercase;
}
#emailInput{
    width: calc(100% - 3em);
    border: none;
    border-radius: 5px;
    padding: .5em 1.5em;
    font-size: 1.5em;
}
.btnSubscribe{
    margin-top:1.5em;
    max-width: 10em;
    align-self: flex-end;
    background-color: var(--Pink);
    border: none;
    border-radius: 5px;
    padding: 1em 2em;
    color:white;
    font-size: 1em;
}
.contactInfo{
    padding: 3em;
}
.contactInfo .contact{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.contactInfo> .contact>p{
    margin-left: 1em;
}
/*Estilos de componentes*/
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    font-size: .8em;
    padding: .5em 1.5em;
    background-color: transparent;
    border: 1.2px solid black;
    border-radius: calc(2em + 1rem / 2);
    -webkit-border-radius: calc(2em + 1rem / 2);
    -moz-border-radius: calc(2em + 1rem / 2);
    -ms-border-radius: calc(2em + 1rem / 2);
    -o-border-radius: calc(2em + 1rem / 2);
}
.ghost{
    color:var(--Pink);
    border-color: var(--Pink);
}
.action{
    background-color: var(--Pink);
    color:white;
    border-color: var(--Pink);
    padding: 1em 3.2em;
    box-shadow: -2px 2px 5px 1px rgba(0,0,0,.1);

}